<h1><%= @project.title() %></h1>

<div class="container clearfix">
  <a href="/"><button class="btn btn-info pull-left">Home</button></a>
  <a href="/projects"><button class="btn btn-info pull-left">View all projects</button></a>
  <a href="/projects/new"><button class="btn btn-warning pull-left">Add New Project</button></a>
  <a href="/project/edit/<%=@project.id%>"><button class="btn btn-success pull-left">Edit Project</button></a>
  <form class="form-group" action="/projects/<%=@project.id%> " method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn button btn-danger pull-left">Delete This List</button>

  </form>
</div>

<% if @project.volunteers().any?() %>
  <h3>Here are all the Volunteers in this list:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>
  </ul>

<% else %>
  <p>There are no volunteers on this list!</p>
<% end %>


<h3>Add a Volunteer to <%= @project.title() %></h3>

<form action="/volunteers" method="post">
  <input type="hidden" id="project_id" name="project_id" value=" <%= @project.id() %>">

  <label for="name">Full Name</label>
  <input id="name" name="name" type ="text">

  <br>
  <br>

  <button type="submit" class="btn">Add Volunteer</button>
</form>

<br>
